<h1>Perfil do Cliente</h1>

<div>
  <strong>Nome:</strong>
  <p><%= @user.name %></p>
</div>

<div>
  <strong>Email:</strong>
  <p><%= @user.email %></p>
</div>

<div>
  <strong>CPF:</strong>
  <p><%= @user.cpf %></p>
</div>

<div>
  <strong>Telefone:</strong>
  <p><%= @user.phone %></p>
</div>

<div>
  <strong>Conta criada em:</strong>
  <p><%= @user.created_at.strftime("%d/%m/%Y %H:%M") %></p>
</div>

<div>
  <strong>Última atualização:</strong>
  <p><%= @user.updated_at.strftime("%d/%m/%Y %H:%M") %></p>
</div>

<%= link_to 'Editar Perfil', edit_user_registration_path, class: "btn btn-primary" %>
<%= link_to 'Voltar', root_path, class: "btn btn-secondary" %>